In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [4]:
dict1['april_batch']['student']['name']     #1 access "Mike"

'Mike'

In [5]:
dict1['april_batch']['student']['marks']['python']    #2 access 80

80

In [9]:
dict1['april_batch']['student']['name'] = 'sarthak'   #3 change "Mike" to "Your name"
dict1

{'april_batch': {'student': {'name': 'sarthak',
   'marks': {'python': 80, 'maths': 70}}}}

In [11]:
dict1 ['april_batch']['student']['marks']['ML'] = 80    #4 add ML = 80 and DL = 80 inside marks
dict1 ['april_batch']['student']['marks']['DL'] = 80
dict1

{'april_batch': {'student': {'name': 'sarthak',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [12]:
tup1 = (1,2,3,4.4,5.5,True,False,"Maths","Python")
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [21]:
list1 = list(tup1)
list1.append('ML')
list1

[1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python', 'ML']

In [27]:
list1.remove(True)
print(list1)

[2, 3, 4.4, 5.5, False, 'Maths', 'Python']

In [28]:
tup1 = tuple(list1)
tup1

(2, 3, 4.4, 5.5, False, 'Maths', 'Python')